<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Hogwarts</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="estudiantes" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Hogwarts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="slytherin">slytherin</a></li>
            <li><a class="dropdown-item" routerLink="gryffindor">gryffindor</a></li>
            <li><a class="dropdown-item" routerLink="ravenclaw">ravenclaw </a></li>
            <li><a class="dropdown-item" routerLink="hufflepuff">hufflepuff</a></li>

          </ul>


        </li>
        <li class="nav-item">
          <a routerLink="estudiantes" class="nav-link">Estudiantes</a>
        </li>
        <li class="nav-item">
          <a routerLink="profesores" class="nav-link">Profesores</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Casa" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>