<div class="row" *ngIf="revenclaw.length>0">
    <div class="col">
        <app-slideshow [items]="revenclaw"></app-slideshow>


    </div>

</div>
<app-tablehogwarts [items]="revenclaw"></app-tablehogwarts>