
<div class="row" *ngIf="gryffindor.length>0">
    <div class="col">
        <app-slideshow [items]="gryffindor"></app-slideshow>

    </div>

</div>

<app-tablehogwarts [items]="gryffindor"></app-tablehogwarts>
