<div>
    <h1>Estudiantes</h1>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Registrar Estudiante
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar Estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Formularios <small>data</small></h4>
                    <hr>
                    <form>

                        <div>

                            <div class="form-group row">
                                <label class="col-2 col-form-label">Nombre</label>
                                <div class="col-8">

                                    <input class="form-control" type="text" placeholder="Nombre del Estudiante" formControlName="nombre">
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-2 col-form-label">Año</label>
                                <div class="col-8">

                                    <input class="form-control" type="text" placeholder="Año de Nacimiento" formControlName="edad">
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <label class="col-2 col-form-label">Casa</label>
                                <div class="col-8">

                                    <input class="form-control" type="text" placeholder="Casa" formControlName="casa">
                                </div>
                            </div>
                            <div class="form-group row mt-3">
                                <label class="col-2 col-form-label">Patronus</label>
                                <div class="col-8">

                                    <input class="form-control" type="text" placeholder="Patronus" formControlName="patronus">
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label">&nbsp;</label>
                            <div class="input-group col-md-8">
                                <button type="submit" class="btn btn-outline-primary">
                                    Guardar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="estudiantes.length>0">
    <div class="col">
        <app-slideshow [items]="estudiantes"></app-slideshow>
    </div>

</div>
<app-tablehogwarts [items]="estudiantes"></app-tablehogwarts>