<div class="row" *ngIf="slytherin.length>0">
    <div class="col">
        <app-slideshow [items]="slytherin"></app-slideshow>


    </div>

</div>
<app-tablehogwarts [items]="slytherin"></app-tablehogwarts>