<div class="container">
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">patronus</th>
            <th scope="col">age </th>
            <th scope="col">image</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of items | paginate: {itemsPerPage: 7, currentPage: p}">
            <th scope="row">{{item.name}}</th>
            <td >{{item.patronus}}</td>
            <td>{{item.yearOfBirth | age}}</td>
            <td class="w-25"><img [src]="item.image| poster" class="img-fluid img-thumbnail" ></td>
          </tr>
         
        </tbody>
      </table>
      <pagination-controls class="paginate" (pageChange)="p = $event"></pagination-controls>

</div>
