.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td, th{

      vertical-align: middle;

  }

  .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;    
    border-radius: 0.25rem;
    max-width: 60% !important; 
    
  }

  .paginate{
    display: flex !important;
    justify-content: center !important;
}