
<div class="row" *ngIf="hufflepuff.length>0">
    <div class="col">
        <app-slideshow [items]="hufflepuff"></app-slideshow>


    </div>

</div>
<app-tablehogwarts [items]="hufflepuff"></app-tablehogwarts>
