<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div 
        *ngFor="let item of items"
        [ngStyle]="{
            'background-size':'cover',
            'background-image':'url('+ item.image +')'
        }"
      class="swiper-slide">

        <div class="casa-description">
            <h3>{{item.name}}</h3>
            <p>
              {{item.house}}
            </p>
        </div>
      </div>
      
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()"class="swiper-button-next"></div>
  
   
  </div>