.swiper{
    height: 330px;
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    color: white;

}

div.swiper-wrapper > div{
    background-repeat: no-repeat;
    background-size: contain !important;
    background-position: center;
}

.casa-description{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 25%;
    padding: 5px 30px;
    position: absolute;
    width: 50%;
}

