<div class="row" *ngIf="profesores.length>0">
    <div class="col">
        <app-slideshow [items]="profesores"></app-slideshow>


    </div>

</div>
<app-tablehogwarts [items]="profesores"></app-tablehogwarts>
